.TourCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 354px;
    height: 463px;
    padding: 24px 0 36px 0;
    background-color: #964A3B;
    border-radius: 16px;
    
    img {
        border-radius: 16px;
        max-width: 90%;
        object-fit: cover;
    }

    hr {
        width: 90%;
    }
    
    .TourCard_header {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 90%;
        margin: 16px 0 10px 0;

        h2 {
            font-size: 28px;
            font-weight: 400;
            color: white;
        }

        h4 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            font-size: 16px;
            font-weight: 400;
            color: #AFACAC;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: white;
        margin-top: 8px;
        width: 90%;
    }

    .TourCard_lower {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin-top: 54px;
        
        h3 {
            font-size: 16px;
            font-weight: 300;
            color: white;
        }

        button {
            position: relative;
            width: 30%;
            height: 45px;
            background-color: #EFF6F9B2;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            overflow: hidden;
            cursor: pointer;

            span {
                position: relative;
                z-index: 2;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%; 
                height: 45px;
                transform: scale(0);
                border-radius: 10px;
                background-color: white;
                transition: 0.3s ease;
                
            }


            &:hover {
                &::before {
                    transform: scale(1);
                }
            }
        }
    }
}