@media screen and (max-width: 1440px) {
    .topnav {
        height: 30vh;
    }

    .SearchMenu {
        width: 80%;
    }

    .Step_2 {
        height: auto;
    }

    .Step_3 {
        height: 200vh;

    }

    .Step_4 {
        .Step_4_content {
            .Step_4_content_upper {
                width: 90%;
            }
        }
    }

    .AuthFrom {
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 1024px) {
    .topnav {
        padding: 0 30px;

        .topnav_links {
            ul {
                gap: 15px;
            }
        }
    }
    
    .SearchMenu {
        width: 90%;
    }

    .Step_1 {

        .Step_1_title {
            align-self: flex-start;
            margin: 0 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .topnav {
        padding: 0 50px;
        .topnav_dropmenu_btn {display: block;}

        .topnav_links {display: none;}

        .topnav_auth {display: none;}
    }

    .SearchMenu {
        flex-direction: column;
    }

    .Step_1 {

        .Step_1_title {
            align-self: center;
            margin: 0;
        }
    }

    .Step_4 {
        .Step_4_content {
            width: 100%;
            .Step_4_content_middel {
                flex-wrap: wrap;
                width: 80%;
            }
        }
    }

    .Step_3 {
        height: auto;

    }

    .MineCard {
        gap: 20px;
    }

    .Footer {
        flex-direction: column;
        text-align: center;
    }

    .ContactPage {
        &::before {
            background-position: 10% 0;
        }
    }

    .HotLine {
        .HotLine_content {
            gap: 40px;
            .HotLine_content_left {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .SearchMenu {
        .SearchMenu_select {
            flex-wrap: wrap;


            button {
                width: 90%;
            }
        }

        .Context_Menu {
            align-items: center;
        }

        .SearchMenu_button {
            width: 90%;
        }
    }
    
    .Step_2 {

        h1 {
            text-align: center;
        }

        .Step_2_content {
            border: none;

            &::before, &::after {display: none;}
            
        }
    }

    .Step_4_content_upper {
        flex-wrap: wrap;
    }

    .Footer {
        .Footer_content {
            margin: 50px 0;
        }
    }
}