* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {margin: 0;}

a {
    text-decoration: none;
    color: blue;
}

ul, 
li {
    margin: 0;
    list-style: none;
}

input, button {font-family: "Marmelad", sans-serif;}

body {
    display: flex;
    flex-direction: column;
    font-family: "Marmelad", sans-serif;
    overflow-x: hidden;
    background-color: #191C1B;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191C1B;
}