.TourFamousCity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    width: 100%;

    padding: 200px 0 50px 0;

    h1 {
        font-size: clamp(24px, 8vw, 48px);
        font-weight: 400;
        color: white;
        text-align: center;

        span {color: #C73D24;}
    }


    .TourFamousCity_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap-reverse;
        width: 80%;
        gap: 24px;

        .CityCards {
            flex-grow: 1;
            background-position: center;
            background-size: cover;
        }
    }
}