.SearchMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;;
    position: relative;
    z-index: 1;
    align-self: center;
    gap: 28px;
    background-color: #AFACAC99;
    width: 50%;
    border-radius: 16px;
    padding: 15px 24px;

    .SearchMenu_select {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 10px;
        width: 100%;

        .SearchMenu_select_date {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100% * 2;
            height: 50px;
            background-color: #FFFFFF4D;
            border-radius: 10px;
            font-size: 18px;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;

            span {
                position: relative;
                z-index: 1;
                transition: 0.4s ease;
            }

            &::before {
                content: '';
                position: absolute;
                width: 0%;
                height: 0px;
                background-color: white;
                border-radius: 10px;
                transition: 0.4s ease;
            }
    
            &:hover {
                span {
                    color: black;
                }
    
                &::before {
                    width: 100%;
                    height: 50px;
                }
            }
        }
    }

    .SearchMenu_button {
        width: 50%;
        height: 63px;
        border: none;
        border-radius: 10px;
        font-size: 24px;
        cursor: pointer;
        transition: 0.4s ease;

        &:hover {
            transform: scale(1.05);
        }
    }


    @import './components/ContextMenu';
}