.Step_2_Cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100;
    position: relative;
    z-index: 3;
    gap: 32px;
    border-radius: 16px;
    width: 260px;
    height: 310px;
    background-color: #E9E8E8;
    
    img {object-fit: cover;}

    p {
        text-align: center;
        max-width: 228px;
    }


    
}