.Step_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    overflow: hidden;
    
    h1 {
        position: relative;
        z-index: 3;
        font-size: clamp(30px, 6vw, 48px);
        font-weight: 400;
        color: white;

        span {color: #C73D24;}
    }

    .Step_2_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        gap: 42px;
        width: 80%;
        height: 80%;
        border: 50px solid white;
        border-radius: 17px;



        &::before {
            content: '';
            position: absolute;
            top: 10%;
            left: -20%;
            width: 150%;
            height: 80%;
            background-color: #191C1B; 
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: -25%;
            left: 5%;
            width: 90%;
            height: 150%;
            background-color: #191C1B; 
            z-index: 2;
        }

    }
}

@import './components/Step_2_Cards';