.nonBG {
    position: fixed;
    z-index: 4;
    background-color: #33333380;
    width: 100%;
    height: 100%;
}

.AuthFrom {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 90%;
    background-color: #5A3C37;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 6;
    overflow: hidden;
    border-radius: 50px;

    img {
        width: 50%;
        height: 100%;
    }

    .CloseButton {
        position: absolute;
        top: 20px;
        left: 20px;
        border: none;
        background: none;
        cursor: pointer;

        span {
            font-size: 40px;
            color: white;
        }
    }
    

    .AuthFrom_select {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        width: 15%;
        top: 30px;
        left: 83%;

        button {
            position: relative;
            width: 100%;
            height: 42px;
            font-size: 20px;
            font-weight: 400;
            background: none;
            border: none;
            border-radius: 16px;
            overflow: hidden;
            color: white;
            transition: 0.4s ease;
            cursor: pointer;

            span {
                position: relative;
                z-index: 2;
            }

            &::before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0%;
                width: 100%;
                height: 50px;
                background-color: white;
                transition: 0.4s ease;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 3;
                background-color: none;
                top: 0;
                left: 0;
                width: 100%;
                height: 50px;
            }

            &:hover {
                color: black;

                &::before {
                    top: 0%;
                }
            }
        }
    }

    .AuthFrom_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 56px;
        width: 100%;
        height: 100%;

        h2 {
            text-align: center;
            color: white;
            font-size: 32px;
            font-weight: 400;
            line-height: 41.6px;
            word-wrap: break-word;
        }
    }
}

@import './Login/Login';
@import './Register/Register';